<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout/head' %}
  </head>

  <body class="antialiased font-sans leading-relaxe bg-slate-100">
    {{ content_for_layout }}
    {% include 'layout/scripts' %}
  </body>
</html>
